# Do not store hidden files and directories, including .idea project
.*
*.iml
/java-solutions/Tests/*
*Test.java
*Tester.java
/java-solutions/expression/common/
/out/*
# Do not store anything starting with _
_*

# Do not store .class files
*.class

# Store .git files
!.git*
/java-solutions/base/
/java-solutions/expression/exceptions/ExceptionsTestSet.java
/java-solutions/expression/exceptions/package-info.java
/java-solutions/expression/exceptions/TripleParser.java
/java-solutions/expression/Expression.java
/java-solutions/expression/package-info.java
/java-solutions/expression/ToMiniString.java
/java-solutions/expression/TripleExpression.java
/java-solutions/expression/parser/TripleParser.java
/java-solutions/expression/parser/ParserTestSet.java
/java-solutions/expression/parser/Operations.java
/java-solutions/expression/generic/Tabulator.java
/java-solutions/expression/BigDecimalExpression.java
/java-solutions/expression/BigIntegerExpression.java
/javascript-solutions/graal/
/javascript-solutions/RunJS.html
/javascript-solutions/TestJS.cmd
/javascript-solutions/RunJS.sh
/javascript-solutions/RunJS.java
/javascript-solutions/functionalMiniExpression.js
/javascript-solutions/examples/
/javascript-solutions/RunJS.node.js
/javascript-solutions/RunJS.cmd
/javascript-solutions/TestJS.sh
/javascript-solutions/.gitattributes
/javascript-solutions/jstest/
/javascript-solutions/examples.js
/clojure-solutions/cljtest/
/clojure-solutions/examples/
/clojure-solutions/lib/
/clojure-solutions/.gitattributes
/clojure-solutions/RunClojure.cmd
/clojure-solutions/TestClojure.cmd
/clojure-solutions/examples.clj
/clojure-solutions/RunClojure.sh
/clojure-solutions/TestClojure.sh
